@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  font-family: var(--font-inter);
}

body {
  margin: 0;
}

.table--border {
  width: 100%;
  max-height: 100vh;
  thead {
    background-color: #f4f7f8;
    border-bottom: 1px solid #f4f7f8;
  }
  th,
  td {
    padding: 0.5rem 1rem;
  }

  tr:nth-of-type(even) td {
    background: #f6f6f6;
  }
}
